<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 
    <mirrors>
        <mirror>
            <id>idealo-repo-master</id>
            <name>Idealo Maven Repository - Master</name>
            <url>https://repo.eu.idealo.com/artifactory/repo</url>
            <mirrorOf>*</mirrorOf>
 
            <!--
 
            Alternative mirror settings for including unsupported repos:
 
            <mirrorOf>*,!id-of-external-repository-defined-in-pom-xml</mirrorOf>
 
            For detailed information see:
            https://maven.apache.org/guides/mini/guide-mirror-settings.html
 
            -->
        </mirror>
    </mirrors>
 
    <!--
    Following profile is needed, because the root pom only defines maven central as release repository.
    If snapshot dependencies are used, they will not be resolved until there is a snapshot repository defined here or in the project's pom.
    See discussion at: https://mail-archives.apache.org/mod_mbox/maven-users/201310.mbox/%3CB67E58D3-71B5-47D9-80DB-54DDC70AABCB@gmail.com%3E
    -->
    <profiles>
        <profile>
            <id>idealo-repo</id>
            <repositories>
                <repository>
                    <id>idealo-repo</id>
                    <url>https://repo.eu.idealo.com/artifactory/repo</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
 
    <activeProfiles>
        <activeProfile>idealo-repo</activeProfile>
    </activeProfiles>
</settings>

